@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

:root{
    --primary-color:#ffffff;
    --purple-color:#4E3FEE;
    --too--dark-color:#030303;
    --dark-color: #14141F;
    --accent-color: #d57d00;
    --light-color: #f7f7f7;
    --secondary-color: #ADADB0;
    --bg--card--color:#343444;

    --border-raduis-sm: 0.5rem;
    --border-raduis-md:1rem;
    --border-raduis-lg:1.5rem;
    --border-raduis-xl:2rem;
    --border-raduis-2xl:2.5rem;
    --border-raduis-3xl:3rem;

    --font-size-sm:0.75rem;
    --font-size-md:1rem;
    --font-size-lg:1.25rem;
    --font-size-xl:1.5rem;

}

/* px, rem, em, pt, percent*/
html{
    font-size:62.5%;/*برای رسپانسیو کردن*/
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    color: var(--light-color);
    background-color: var(--dark-color);
}

button{
    cursor: pointer;
    font-family: inherit;/*فونت را از تگ html برمیدارد*/
    
}

button, span, input[type="text"]::placeholder{
    font-family: inherit;
}

ul{
    list-style: none;/*بولت پوینت غیر فعال شود*/
}

a{
    text-decoration: none;/*رنگ آبی لینک غیر فعال شود*/
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 1rem;
    padding-right: 1rem;
    padding: 0 1rem;*/

}
.btn{
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline: 0;
    /*border: none;*/
    box-shadow: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;

}

.btn__primary{
    background-color: var(--dark-color);
    color: var(--light-color);  
    border-color: var(--purple-color);
    border-radius: var(--border-raduis-xl);
}

.btn__primary:hover{
    background: transparent;
    color: var(--secondary-color);
    /*border: 2px solid red; روش بدی هست چون انگار داره دکمه حرکت میکنه پس از باکس شادو استفاده میکنیم*/
    box-shadow: inset 0 0 0 .2rem var(--purple-color);
}